<!DOCTYPE html>
<html>
<head>
<style>
body{
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;

}

a{
	padding:0px 120px;
	color:#eeeeee;
	font-size:20px;
	text-decoration:none;
}
h1{
	color:#FFFFFF;
	font-size:50px;
}
P {
	
	margin-left:350px;
	margin-right:300px;
	text-align:justify; 
 }
a:hover{color:#FFD700;}


</head>
</style>
<body style="background-image:url('static/fire16.jpeg')">
<div height="150px" width="1300" name="one">
<center><h1 target="one"><I><b>FOREST FIRES DETECTION</b></I></h1></center>
</div>
<div height="50px" width="1300px" name="two">
<a href="{{url_for('index')}}" target="three">HOME</a>
<a href="{{url_for('about')}}" target="three">ABOUT</a>
<a href="{{url_for('prediction')}}" target="three">PREDICTION</a>
<a href="{{url_for('contact')}}" target="two">CONTACT US</a>
</div><br><br><br>
<center>
<div height="500px" width="1300px" name="three" style="color:#eeeeee">
<p><b>
The most common hazard in forests is forests fire. Forests fires are as old as the forests themselves. 
They pose a threat not only to the forest wealth but also to the entire regime to fauna and flora seriously
disturbing the bio-diversity and the ecology and environment of a region. During summer, when there is no rain 
for months,the forests become littered with dry senescent leaves and twinges, which could burst into flames 
ignited by the slightest spark. The Himalayan forests, particularly, Garhwal Himalayas have been burning regularly
during the last few summers, with colossal loss of vegetation cover of that region.
</b></p>
</div>
</body>
</html> 

