<!DOCTYPE html>
<html>
<head>
<style>
body{
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;

}
a{
	padding:0px 120px;
	color:#000000;
	font-size:20px;
	text-decoration:none;

}
h1{
	color:#000000;
	font-size:50px;

}
a:hover{color:#FFD700;}

</head>
</style>
</head>
<body style="background-image:url('static/contact8.jpeg')">
<div height="150px" width="1300" name="one">
<center><h1 target="one">FOREST FIRES</h1></center>
</div>
<div height="50px" width="1300" name="two">
<center>
<a href="{{url_for('index')}}">HOME</a>
<a href="{{url_for('about')}}" target="three">ABOUT</a>
<a href="{{url_for('prediction')}}" target="three">PREDICTION</a>
<a href="{{url_for('contact')}}" target="three">CONTACT US</a>
</center>
</div><br><br><br><br><br><br><br>
<center>
<b><table style="color:#000000">
<tr>
<td>17471A0577</td>
<td>	-	</td>
<td>NANDANAMPATI SEETARAM SESI KIRAN</td>
</tr>
<tr>
<td>17471A0562</td>
<td>	-	</td>
<td>SHAIK MASTANVALI</td>
</tr>
<tr>
<td>17471A0563</td>
<td>	-	</td>
<td>PACHIPALA NIVAS</td>
</tr>
</table>
</b>
</body>
</html>
